.title {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 58px;
    margin: 15px;
}

.mainBox {
    height: 512px;
    width: 512px;
    border: 3px solid black;
    border-radius: 3px;
    margin: auto;

    display: grid;
}

.buttons {
    width: 516.8px;

    margin: auto;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
}

.buttons * {
    width: 196.8px;
    padding: 0;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 25px;
}

.buttons button {
    width: 200px;
    height: 50px;
}

.box {
    border: 0.2px solid black;
}

.rainbow-lr {
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.titleBox {
    display: flex;
    justify-content: center;
}